{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-md-6">
    <h5> Selecione o arquivo csv e faça o upload</h5>
  </div>
</div>
<form method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-6">
      {% csrf_token %}
      <label class="btn btn-default">
      <input type="file" name="csvfileupload">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-info" type="submit">Upload</button>
    </div>
    <div class="col-md-6">
      <p><a class="btn btn-info" role="button" href="{% url 'default' %}">Voltar</a></p>
    </div>
</form>
</div>
{% endblock %}