{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-md-6">
<h6><b>Referente ao arquivo:</b> <i>{{arquivofonte}}</i></h6>
</div>
</div>
<div class="row">
<div class="col-md-6">
<h3>Relatório por usuário</h3>
<table class="table table-bordered table-striped">
<thead class="thead-default" style="background-color: #e6f2ff">
    <tr>
        <th>
            Usuário
        </th>
        <th>
            Páginas
        </th>
    </tr>
</thead>
<tbody>
{%for key, value in dadosusuario.items%}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="col-md-6">
        <img src="{% url 'plot' detalhe=detalhe tipo='usuario' %}">
</div>
</div>
<div class="row">
<div class="col-md-6">
<h3>Relatório por impressora</h3>
<table class="table table-bordered table-striped">
        <thead class="thead-default" style="background-color: #e6f2ff">
                <tr>
                    <th>
                        Impressora
                    </th>
                    <th>
                        Páginas
                    </th>
                </tr>
            </thead>
<tbody>
{%for key, value in dadosimpressora.items%}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</tbody>
 </table>
</div>
<div class="col-md-6">
        <img src="{% url 'plot' detalhe=detalhe tipo='impressora' %}">
</div>
</div>
 {% endblock content %}