{% extends 'base.html' %}

{% block content %}
<p><b>Referente ao arquivo:</b> <i>{{csvfile}}</i></p>
<h1>Relatório por usuário</h1>
<table class="table table-bordered">
{%for key, value in dadosusuario.items%}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
</tr>
{% endfor %}
</table>
<h1>Relatório por impressora</h1>
<table class="table table-bordered">
{%for key, value in dadosimpressora.items%}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
 </table>
 {% endblock content %}