{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-3 table-responsive">
        <h4>Relatório por usuário</h4>
        <table class="table table-bordered table-striped">
            <thead class="thead-default" style="background-color: #e6f2ff">
                <tr>
                    <th>
                       <h6>Usuário</h6>
                    </th>
                    <th>
                       <h6>Páginas</h6>
                    </th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in dadosusuario.items%}
                <tr>
                    <td><h6>{{ key }}</h6></td>
                    <td><h6>{{ value }}</h6></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="{% url 'plot' cooperativa=cooperativa pa=pa ano=ano mes=mes tipo='usuario' %}">
    </div>
    <div class="col-md-3 table-responsive">
        <h4>Relatório por impressora</h4>
        <table class="table table-bordered table-striped">
            <thead class="thead-default" style="background-color: #e6f2ff">
                <tr>
                    <th>
                       <h6>Impressora</h6>
                    </th>
                    <th>
                        <h6>Páginas</h6>
                    </th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in dadosimpressora.items%}
                <tr>
                    <td><h6>{{ key }}</h6></td>
                    <td><h6>{{ value }}</h6></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="{% url 'plot' cooperativa=cooperativa pa=pa ano=ano mes=mes tipo='impressora' %}">
    </div>
</div>
{% endblock content %}