{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-6">
        <h3>Relatório mensal referente ao período:</h3>
        <table class="table table-bordered table-striped">
            {% for csv in csvs %}
            <tr>
                <td>
                    <a href="{% url 'report' detalhe=csv  %}">{{csv}}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <h3>Clique no link abaixo para carregar arquivos csv</h3>
        <a class="btn btn-info" role="button" href="{% url 'upload' %}">Upload de csv</a>
    </div>
</div>
{% endblock content %}